In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("new_tender_event.csv")
df.head()

   shipment number tndr_carrier_cd tndr_first_tender_fg tndr_carrier_type_cd
0         71899922            WREC                    N                    P
1         71899419            TJIS                    Y                    P
2         71900703            GMDR                    Y                    P
3         71902024            KMYV                    Y                    P
4         71901080            TJIS                    Y                    P

In [4]:
df1=pd.read_csv("target_pcnt_identifier.csv")
df1.head()

,join_tag,award_target_share_percent,tndr_target_share_percent
0,SP-KC_SP-V4_WREC_2018-04-06 08:07:52,15,15
1,SP-RC_SP-KA_TJIS_2018-04-06 07:48:50,100,100
2,SP-WW_SP-ET_GMDR_2018-04-06 07:55:49,10,10
3,SP-KC_SP-4S_KMYV_2018-04-06 11:48:49,100,100
4,SP-WS_SP-JT_TJIS_2018-04-06 10:18:47,100,100

In [5]:
df2=pd.read_csv("tender_metric_data.csv")
df2.head()

,shipment number,hit_or_miss,distribution_channel_cd,distribution_channel_desc,shp_type_indicator_fg,shp_type_indicator_desc,transport_group_cd,award_carrier_cd,event_action_cd,event_action_desc,...,temp_condition_desc,temp_channel_cd,temp_channel_desc,creation_dt_year_nbr,fiscal_year_nbr,fiscal_week_begin_dt,fiscal_week_end_dt,fiscal_month_desc,fiscal_year_week_tag,data_flag
0,71899922,1.0,II,Intercomp/Interplnt,O,Outbound,NTC,WREC,AW,Awarded,...,Dry,D,Dry,2018.0,2018.0,2018-04-02 00:00:00,2018-04-08 00:00:00,Apr,F18-WK 45,train
1,71899419,1.0,II,Intercomp/Interplnt,O,Outbound,TC,TJIS,AW,Awarded,...,Refrigerated,R,Refrigerated,2018.0,2018.0,2018-04-02 00:00:00,2018-04-08 00:00:00,Apr,F18-WK 45,train
2,71900703,1.0,II,Intercomp/Interplnt,O,Outbound,NTC,GMDR,AW,Awarded,...,Dry,D,Dry,2018.0,2018.0,2018-04-02 00:00:00,2018-04-08 00:00:00,Apr,F18-WK 45,train
3,71902024,1.0,II,Intercomp/Interplnt,O,Outbound,NTC,KMYV,AW,Awarded,...,Dry,D,Dry,2018.0,2018.0,2018-04-02 00:00:00,2018-04-08 00:00:00,Apr,F18-WK 45,train
4,71901080,1.0,II,Intercomp/Interplnt,O,Outbound,TC,TJIS,AW,Awarded,...,Frozen,F,Frozen,2018.0,2018.0,2018-04-02 00:00:00,2018-04-08 00:00:00,Apr,F18-WK 45,train

In [6]:
df3=pd.read_csv("accept_event.csv")
df3.head()

   shipment number acpt_carrier_cd acpt_first_response_fg
0         71899922            WREC                      Y
1         71899419            TJIS                      Y
2         71900703            GMDR                      Y
3         71902024            KMYV                      Y
4         71901080            TJIS                      Y

In [9]:
merge1=df2.merge(df3,on="shipment number",how="inner")
merge1.head()

,shipment number,hit_or_miss,distribution_channel_cd,distribution_channel_desc,shp_type_indicator_fg,shp_type_indicator_desc,transport_group_cd,award_carrier_cd,event_action_cd,event_action_desc,...,temp_channel_desc,creation_dt_year_nbr,fiscal_year_nbr,fiscal_week_begin_dt,fiscal_week_end_dt,fiscal_month_desc,fiscal_year_week_tag,data_flag,acpt_carrier_cd,acpt_first_response_fg
0,71899922,1.0,II,Intercomp/Interplnt,O,Outbound,NTC,WREC,AW,Awarded,...,Dry,2018.0,2018.0,2018-04-02 00:00:00,2018-04-08 00:00:00,Apr,F18-WK 45,train,WREC,Y
1,71899419,1.0,II,Intercomp/Interplnt,O,Outbound,TC,TJIS,AW,Awarded,...,Refrigerated,2018.0,2018.0,2018-04-02 00:00:00,2018-04-08 00:00:00,Apr,F18-WK 45,train,TJIS,Y
2,71900703,1.0,II,Intercomp/Interplnt,O,Outbound,NTC,GMDR,AW,Awarded,...,Dry,2018.0,2018.0,2018-04-02 00:00:00,2018-04-08 00:00:00,Apr,F18-WK 45,train,GMDR,Y
3,71902024,1.0,II,Intercomp/Interplnt,O,Outbound,NTC,KMYV,AW,Awarded,...,Dry,2018.0,2018.0,2018-04-02 00:00:00,2018-04-08 00:00:00,Apr,F18-WK 45,train,KMYV,Y
4,71901080,1.0,II,Intercomp/Interplnt,O,Outbound,TC,TJIS,AW,Awarded,...,Frozen,2018.0,2018.0,2018-04-02 00:00:00,2018-04-08 00:00:00,Apr,F18-WK 45,train,TJIS,Y

In [10]:
merge2=merge1.merge(df,on="shipment number",how="inner")
merge2.head()

,shipment number,hit_or_miss,distribution_channel_cd,distribution_channel_desc,shp_type_indicator_fg,shp_type_indicator_desc,transport_group_cd,award_carrier_cd,event_action_cd,event_action_desc,...,fiscal_week_begin_dt,fiscal_week_end_dt,fiscal_month_desc,fiscal_year_week_tag,data_flag,acpt_carrier_cd,acpt_first_response_fg,tndr_carrier_cd,tndr_first_tender_fg,tndr_carrier_type_cd
0,71899922,1.0,II,Intercomp/Interplnt,O,Outbound,NTC,WREC,AW,Awarded,...,2018-04-02 00:00:00,2018-04-08 00:00:00,Apr,F18-WK 45,train,WREC,Y,WREC,N,P
1,71899419,1.0,II,Intercomp/Interplnt,O,Outbound,TC,TJIS,AW,Awarded,...,2018-04-02 00:00:00,2018-04-08 00:00:00,Apr,F18-WK 45,train,TJIS,Y,TJIS,Y,P
2,71900703,1.0,II,Intercomp/Interplnt,O,Outbound,NTC,GMDR,AW,Awarded,...,2018-04-02 00:00:00,2018-04-08 00:00:00,Apr,F18-WK 45,train,GMDR,Y,GMDR,Y,P
3,71902024,1.0,II,Intercomp/Interplnt,O,Outbound,NTC,KMYV,AW,Awarded,...,2018-04-02 00:00:00,2018-04-08 00:00:00,Apr,F18-WK 45,train,KMYV,Y,KMYV,Y,P
4,71901080,1.0,II,Intercomp/Interplnt,O,Outbound,TC,TJIS,AW,Awarded,...,2018-04-02 00:00:00,2018-04-08 00:00:00,Apr,F18-WK 45,train,TJIS,Y,TJIS,Y,P

In [11]:
merge2['source_location_cd'].head()

0    SP-KC
1    SP-RC
2    SP-WW
3    SP-KC
4    SP-WS
Name: source_location_cd, dtype: object

In [14]:
merge2['join_tag']=merge2['source_location_cd']+'_'+merge2['destination_location_cd']+'_'+merge2['award_carrier_cd']+'_'+merge2['creation_ts']

In [15]:
merge2.head()

,shipment number,hit_or_miss,distribution_channel_cd,distribution_channel_desc,shp_type_indicator_fg,shp_type_indicator_desc,transport_group_cd,award_carrier_cd,event_action_cd,event_action_desc,...,fiscal_week_end_dt,fiscal_month_desc,fiscal_year_week_tag,data_flag,acpt_carrier_cd,acpt_first_response_fg,tndr_carrier_cd,tndr_first_tender_fg,tndr_carrier_type_cd,join_tag
0,71899922,1.0,II,Intercomp/Interplnt,O,Outbound,NTC,WREC,AW,Awarded,...,2018-04-08 00:00:00,Apr,F18-WK 45,train,WREC,Y,WREC,N,P,SP-KC_SP-V4_WREC_2018-04-06 08:07:52
1,71899419,1.0,II,Intercomp/Interplnt,O,Outbound,TC,TJIS,AW,Awarded,...,2018-04-08 00:00:00,Apr,F18-WK 45,train,TJIS,Y,TJIS,Y,P,SP-RC_SP-KA_TJIS_2018-04-06 07:48:50
2,71900703,1.0,II,Intercomp/Interplnt,O,Outbound,NTC,GMDR,AW,Awarded,...,2018-04-08 00:00:00,Apr,F18-WK 45,train,GMDR,Y,GMDR,Y,P,SP-WW_SP-ET_GMDR_2018-04-06 07:55:49
3,71902024,1.0,II,Intercomp/Interplnt,O,Outbound,NTC,KMYV,AW,Awarded,...,2018-04-08 00:00:00,Apr,F18-WK 45,train,KMYV,Y,KMYV,Y,P,SP-KC_SP-4S_KMYV_2018-04-06 11:48:49
4,71901080,1.0,II,Intercomp/Interplnt,O,Outbound,TC,TJIS,AW,Awarded,...,2018-04-08 00:00:00,Apr,F18-WK 45,train,TJIS,Y,TJIS,Y,P,SP-WS_SP-JT_TJIS_2018-04-06 10:18:47

In [16]:
final_merge=merge2.merge(df1,on="join_tag",how="inner")
final_merge.head()

,shipment number,hit_or_miss,distribution_channel_cd,distribution_channel_desc,shp_type_indicator_fg,shp_type_indicator_desc,transport_group_cd,award_carrier_cd,event_action_cd,event_action_desc,...,fiscal_year_week_tag,data_flag,acpt_carrier_cd,acpt_first_response_fg,tndr_carrier_cd,tndr_first_tender_fg,tndr_carrier_type_cd,join_tag,award_target_share_percent,tndr_target_share_percent
0,71899922,1.0,II,Intercomp/Interplnt,O,Outbound,NTC,WREC,AW,Awarded,...,F18-WK 45,train,WREC,Y,WREC,N,P,SP-KC_SP-V4_WREC_2018-04-06 08:07:52,15,15
1,71899419,1.0,II,Intercomp/Interplnt,O,Outbound,TC,TJIS,AW,Awarded,...,F18-WK 45,train,TJIS,Y,TJIS,Y,P,SP-RC_SP-KA_TJIS_2018-04-06 07:48:50,100,100
2,71900703,1.0,II,Intercomp/Interplnt,O,Outbound,NTC,GMDR,AW,Awarded,...,F18-WK 45,train,GMDR,Y,GMDR,Y,P,SP-WW_SP-ET_GMDR_2018-04-06 07:55:49,10,10
3,71902024,1.0,II,Intercomp/Interplnt,O,Outbound,NTC,KMYV,AW,Awarded,...,F18-WK 45,train,KMYV,Y,KMYV,Y,P,SP-KC_SP-4S_KMYV_2018-04-06 11:48:49,100,100
4,71901080,1.0,II,Intercomp/Interplnt,O,Outbound,TC,TJIS,AW,Awarded,...,F18-WK 45,train,TJIS,Y,TJIS,Y,P,SP-WS_SP-JT_TJIS_2018-04-06 10:18:47,100,100